<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img class="" src="//splits.s3.amazonaws.com/922b2b5cb337de89f87c83040d1cb509947f681b/splits/v9/page-3.jpg?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIAYW2E6VOLDTI35A%2F20190520%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20190520T232443Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=518400&amp;X-Amz-Signature=09bb375e6553cc2aa81c61c5af48481283ab6d081f8283bc446dacf1c5b1b249" alt="Image of page 3">

</body>
</html>